version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: openbooks-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: openbooks_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_openbooks_data:/var/lib/postgresql/data
    networks:
      - mynet

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - mynet

volumes:
  postgres_openbooks_data:

networks:
  mynet:
